<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <link rel="stylesheet" type="text/css" href="{{ site }}public/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ site }}public/css/component.css" />
    <!--<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="{{ site }}public/css/bootstrap.min.css">
    <script src="{{ site }}public/js/awesome.js"></script>
    <script src="{{ site }}public/js/script.js"></script>

</head>
<body>

<header>
    <div class="container-fluid">
        <div class="row zsx">
            <div class="col-lg-12 animated lightSpeedIn">
                <p class="vcenter"><h1>Web<span class="sel">Proger</span></h1><h3>Изучай программирование вместе с нами!</h3></p>
            </div>
        </div>
    </div>
</header>